<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" > 
<suite name="BankAutomation">
<test name="Banking App Test">
<parameter name="browser" value="firefox"></parameter>

<classes>

<class name="com.BankAutomation.testCases.TC_LoginTest_001" />



</classes>






</test>
</suite>